
<tr id="<%= dom_id(announcement) %>">
  <td class='datetime'><%= ua_datetime_display(announcement.starts_at_for_user) %></td>
  <td>
    <%= announcement.message.html_safe %>
    <%= _ua_unhide_announcement_link(announcement) %>
  </td>
</tr>