<h1>Administer Announcements</h1>

<p>
  <%= link_to('New Announcement', new_admin_announcement_path(), :class => 'btn btn-primary') %>
</p>

<%= ua_table_tag(id: 'admin-announcements') do %>
  <thead>
    <tr>
      <th>Announcement</th>
      <th>Starts</th>
      <th>Ends</th>
      <th>Status</th>
      <th class='active'>Active</th>
      <th class='roles'>Roles</th>
      <th colspan="2" width="1%">Actions</th>
    </tr>
  </thead>

  <tbody>
    <%= render @announcements %>
  </tbody>
<% end %>
