table.ua-table td.status {
  width: 1%;
  text-align: center;
}
  
table.ua-table th.active {
  width: 1%;
}
  
table.ua-table td.active {
  text-align: center;
}

table.ua-table td.datetime {
  width: 6em;
  white-space: nowrap;
}

table.ua-table th.roles {
  width: 1%;
}

table.ua-table.non-bootstrap {
  border-collapse:collapse;
}

table.ua-table.non-bootstrap th, table.ua-table.non-bootstrap td {
  border: 1px solid black;
  padding: 0.5em;
}

table.ua-table td {
  vertical-align: top;
}

.announcement.non-bootstrap {
  background-color: #fcf8e3;
  color: #c09853;
  border-bottom: solid 1px black;
  width: 100%;
  padding: 10px;
  text-align: center;
}


.announcement.non-bootstrap a {
    font-size: 12px;
    margin-left: 5px;
    color: #6E5910;
  }
}

.announcement.non-bootstrap.yellow {
  background-color: #fcf8e3;
  color: #c09853;
}

.announcement.non-bootstrap.red {
  background-color: #f2dede;
/*  border-color: #eed3d7;*/
  color: #b94a48;
}

.announcement.non-bootstrap.green {
  background-color: #dff0d8;
/*  border-color: #d6e9c6;*/
  color: #468847;
}
  
.announcement.non-bootstrap.blue {
  background-color: #d9edf7;
/*  border-color: #bce8f1;*/
  color: #3a87ad;
}

form.announcement-detail label{
  margin-bottom: 0.4em;
}