<h1>Announcements</h1>

<%= ua_table_tag(id: 'user-announcements') do %>
  <thead>
    <tr>
      <th>Date</th>
      <th>Announcement</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'user_announcements/announcement', collection: @announcements %>    
  </tbody>
<% end %>

